.background-fade {
    animation: fadeBackground 5s infinite;
  }
div {
   background-color: white;    

   /* transition the background-color over 1s with a linear animation */
   transition: background-color 1s linear;
}

/* the :hover that causes the background-color to change */
div:hover {
   background-color: transparent;      
}
  
  @keyframes fadeBackground {
    0% {
      background-color: #ff9999;
    }
    50% {
      background-color: #99ccff;
    }
    100% {
      background-color: #ff9999;
    }
  }

  h1 {
    text-shadow: 2px 2px red;
  }
  h1 {
    text-shadow: 2px 2px 5px red;
  }  
  a {display: block; position: relative}
.brown {position: absolute; bottom: 0; background-color: rgba(118,76,41,.8);}
.green {position: absolute; bottom: 0; background-color: rgba(51,91,11,.8);}
#p1 {background-color:rgba(255,0,0,0.3);} /* red with opacity*/
#p2 {background-color:rgba(0,255,0,0.3);} /* green with opacity */
#p3 {background-color:rgba(0,0,255,0.3);} /* blue with opacity */

a {
  color: #0000FF; /* Initial color */
  transition: color 0.3s ease; /* Duration and easing function */
}

a:hover {
  color: #FF0000; /* Color on hover */
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
#loading img
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         0.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-transition-timing-function: linear;
    }
